useDynLib(tileHMM, "_log_sum", "_forward", "_backward", "_baumWelch_trans", "_viterbi", "_get_obs_prob")
exportPattern("^[^\\.]")
exportClasses(dist,discDist,contDist,tDist,hmm,contHMM)
exportMethods(sampleObs,length,initialize,states,viterbi,forward,backward,baumWelch,viterbiTraining,sampleSeq,show)
S3method(plot, contDist)
S3method(plot, contHMM)
S3method(plot, tDist)
S3method(as.matrix, discDist)
S3method(as.vector, discDist)
S3method(as.data.frame, discDist)
S3method("[", discDist)
S3method("[[", discDist)
S3method("[", contDist)
S3method("[", tDist)
S3method("[", contHMM)
S3method("[<-", contDist)
S3method("[<-", tDist)
